@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
    --Darkcyan: hsl(158, 36%, 37%);
    --hoover: hsl(159, 27%, 17%);
    --Cream: hsl(30, 38%, 92%);
    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
/*------------Font families & styles-----------------*/
body{
   font-size: 14px;
   background-color: var(--Cream);
}

.title{
    padding: 30px 0px 20px 25px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-family: 700;
    color: var(--Darkgrayishblue);
    font-size: 0.8em;
}
.name{
    padding-left: 25px;
    font-family: 'Fraunces', serif;
    font-weight: 500;
    font-size: 2.2em;
    color: var(--Verydarkblue);
    line-height: 30px;
}
.pcontainer{
    width: 100%;
    height: auto;
}
p{
    width: 320px;
    padding: 20px 0 13px 25px;
    font-family: 'Montserrat', sans-serif;
    color: var(--Darkgrayishblue);
    font-weight: 500;
    line-height: 25px;
}
.actualprice{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.2em;
    color: var(--Darkcyan);
}
.oldprice{
    padding-left: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--Darkgrayishblue);
    text-decoration: line-through;
}
.addbutton a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: var(--White);
}

.addbutton span{
    padding-left: 12px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*-------------------movil layout------------------*/
.cardcontainer{
    margin: 30px auto;
    background-color: var(--White);
    /*border: 1px black solid;*/
    /*box-shadow: 0 3px 3px 0  var(--Verydarkblue);*/
    width: 338px;
    height: 615px;
    border-radius: 10px;
    overflow: hidden;
}
.photo{
    width: 338px;
    height: 237px;
    background-image: url(images/image-product-mobile.jpg);
    background-size: contain;
}
.pricecontainer{
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 25px;
    align-items: center;
    background: var(--White);
    margin-bottom: 20px;
}
.addbuttoncontainer{
    border-radius: 7px;
    margin-left: 25px;
    margin-right: 25px;
    /*border: 1px solid;*/
    background-color: var(--Darkcyan);
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
}
.addbuttoncontainer:hover{
    background-color: var(--hoover);
}


/*------------->=1440px-----------------------------------*/
@media only screen and (min-width:1440px) {
    body{
       margin: 175px auto;
    }
   .cardcontainer{
    margin-left:  auto;
    /*border: 1px black solid;*/
    width: 600px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
   } 
   .photo{
    width: 672px;
    height: 450px;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    }
    .title{
    padding: 35px 0px 30px 35px; 
    font-size: 1em;
    }
    .name{
    padding-left: 35px;
    font-size: 2.6em;
    letter-spacing: 1.5px;
    line-height: 33px;
    }
    p{
    width: 260px;
    padding-left: 35px
    }    
}


